<a href="https://colab.research.google.com/github/kmendesDev/project_titanic/blob/main/data_cleaning_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Projeto Titanic

##Importação de bibliotecas

In [16]:
import pandas as pd # Para manusear dados tabulares
import seaborn as srn # Para gráficos
import statistics as sts # Para calculos matemáticos

##Importação dos dados

In [17]:
# Baixar arquivos salvos no github
!wget https://github.com/kmendesDev/project_titanic/raw/main/data/train.csv
!wget https://github.com/kmendesDev/project_titanic/raw/main/data/test.csv
dataset_test = pd.read_csv("/content/test.csv")
dataset_train = pd.read_csv("/content/train.csv")
dataset_train

--2023-08-18 18:44:45--  https://github.com/kmendesDev/project_titanic/raw/main/data/train.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kmendesDev/project_titanic/main/data/train.csv [following]
--2023-08-18 18:44:46--  https://raw.githubusercontent.com/kmendesDev/project_titanic/main/data/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61194 (60K) [text/plain]
Saving to: ‘train.csv.2’

train.csv.2         100%[===================>]  59.76K  --.-KB/s    in 0.007s

2023-08-18 18:44:46 (8.00 MB/s) - ‘train.csv.2’ saved [61194/61194]

--2023-08-18 18:44:46--  https://github.com/kmendesDev/project_titanic/raw/main/data/test.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kmendesDev/project_titanic/main/data/test.csv [following]
--2023-08-18 18:44:46--  https://raw.githubusercontent.com/kmendesDev/project_titanic/main/data/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 28629 (28K) [text/plain]
Saving to: ‘test.csv.2’

test.csv.2          100%[===================>]  27.96K  --.-KB/s    in 0.001s

2023-08-18 18:44:46 (19.3 MB/s) - ‘test.csv.2’ saved [28629/28629]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [18]:
dataset_train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [19]:
dataset_train.shape

(891, 12)

##Análise exploratória dos dados

In [20]:
#Clonando o DataFrame
training_data = dataset_train

In [21]:
training_data['PassengerId']

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [22]:
# Coluna Survived:
# Informa a quantidade de 0 e 1 indicando com 1 os que sobreviveram e com 0 os que não conseguiram.
training_data.groupby(['Survived']).size()

Survived
0    549
1    342
dtype: int64

In [23]:
# Coluna Pclass:
# Informa a classe na qual o passageiro viajava:
training_data.groupby(['Pclass']).size()

Pclass
1    216
2    184
3    491
dtype: int64

In [24]:
# Coluna sex:
# Informa a quantidade de homens e mulheres:
training_data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [25]:
# Coluna Age:
# Verificar a idade dos passageiros:
training_data['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [26]:
# Coluna SibSp:
# Informa a quantidade de irmãos e/ou cônjuges à bordo:
training_data['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [27]:
# Coluna Parch:
# Informa a quantidade de pais e/ou filhos à bordo:
training_data['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [28]:
# Coluna Ticket:
# Informa a numeração do Ticket de cada indivíduo:
training_data['Ticket'].value_counts()

347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: Ticket, Length: 681, dtype: int64

In [29]:
# Coluna Fare:
# Informa a tarifa paga:
training_data['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [30]:
# Coluna Cabin:
# Informa a cabina que o passageiro ocupava:
training_data['Cabin'].value_counts()
# Verifica-se que a cabine mais recorrente é a B96

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [31]:
# Coluna Embarked:
# Informa o porto o qual o passageiro embarcou:
training_data['Embarked'].value_counts()
# O Porto de Southampton (S) é o mais recorrente.

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [32]:
#### Verificação de valores NaN: ###
training_data.isnull().sum()
# Colunas com valores nulos:
# Age
# Cabin
# Embarked

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Retirando os valores nulos:

In [33]:
# Coluna Age:
# Achando a mediana para substituir nos valores NaN:
mediana = sts.median(training_data['Age'])
mediana
# Problema: A mediana é NaN

nan

In [34]:
#Substituindo os valores NaN pela média:
training_data['Age'].fillna(int(training_data['Age'].describe()[1]),inplace=True)
int(training_data['Age'].describe()[1])

29

In [35]:
#Verificando a existência de algum valor NaN:
training_data['Age'].isnull().sum()

0

In [36]:
# Verificando a mediana após o ajuste:
mediana = sts.median(training_data['Age'])
mediana

29.0

In [37]:
# Coluna Cabin:
training_data['Cabin'].isnull().sum()
#Verifica-se 687 valores nulos, caracterizando mais da metade.
# Propostas:
# 1) Retirar a coluna Cabine para evitar dados enviezados. - Perde-se uma coluna. Tem que verificar o peso que essa coluna terá no modelo
# 2) Substituir pelo valor mais recorrente. - Os dados vão ficar muito enviezados.
# 3) Criar um vetor com os valores não nulos e substituir os nulos de modo proporcional. - Mantém a proporção, mas caso a coluna tenha um peso grande, teremos um problema.

687

In [38]:
# Separando os valores nulos dos não nulos e verificando o tamanho dos df criados:
nulos = training_data['Cabin'][training_data['Cabin'].isnull()]
print(len(nulos))
cabines = training_data['Cabin'].dropna()
len(cabines)

687

204

In [39]:
cabines
# Foi verificado que algumas posições tem mais de um valor.

1              C85
3             C123
6              E46
10              G6
11            C103
          ...
871            D35
872    B51 B53 B55
879            C50
887            B42
889           C148
Name: Cabin, Length: 204, dtype: object

In [40]:
#Verificar onde tem mais de 2 cabines por passageiro=dataset.loc[len(dataset['Cabin'])>4]

In [41]:
# Coluna Embarked:
training_data['Embarked'].isnull().sum()
#Verifica-se 2 valores nulos na coluna Embarked.

2

In [42]:
training_data['Embarked'].fillna('S',inplace=True)

In [43]:
# Verificando se ainda há valores nulos:
training_data['Embarked'].isnull().sum()

0

In [44]:
#Verificando a nova quantidade de dados por variável:
training_data['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64